body{
    background-color: #E4E1BE;
}
.bg{
    width: 1000px;
    height: 1154px;
    padding-top: 30px;
    background-color: #D7E7BD;
}
.tituls{
position: absolute;
width: 977px;
height: 119px;
left: calc(50% - 977px/2 - 0.5px);
top: 30px;
background: #E2E9D4;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
display: grid;
align-items: center;
text-align: center;
color: #000000;
}

#box1{
position: absolute;
width: 233px;
height: 51px;
left: 24.5%;
top: 170px;
background: #88A57A;
}
#box2{
position: absolute;
width: 233px;
height: 51px;
left: 37.5%;
top: 169px;
background: #88A57A;
}
#box3{
position: absolute;
width: 233px;
height: 51px;
left: 50.5%;
top: 169px;
background: #88A57A;
}
#box4{
position: absolute;
width: 233px;
height: 51px;
left: 63.5%;
top: 169px;
background: #88A57A;
}
.txtmjdz{
font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
display: grid;
align-items: center;
text-align: center;
color: #000000;
}
#img1{
position: absolute;
width: 233px;
height: 289px;
left: 24.5%;
top: 228px;
background: url(/images/dog.jpg);
background-position: center;
background-size: cover;
}
#img2{
position: absolute;
width: 233px;
height: 289px;
left: 37.5%;
top: 228px;
background: url(/images/cat.jpg);
background-position: center;
background-size: cover;
}
#img3{
position: absolute;
width: 233px;
height: 289px;
left: 50.5%;
top: 228px;
background: url(/images/parrot.png);
background-position: center;
background-size: cover;
}
#img4{
position: absolute;
width: 233px;
height: 289px;
left: 63.5%;
top: 228px;
background: url(/images/tiger.jpg);
background-position: center; 
background-size: cover;
}
.lielstxt{
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    display: grid;
    align-items: center;
    text-align: center;
    color: #000000;
    /* margin-top: 520px; */
    word-break: break-word;
    }
#myChart{
    margin-top: 520px;

}