body {
    background-color: #D7E7BD;
}

.titul {
    position: absolute;
    width: 1149px;
    height: 127px;
    left: 145px;
    top: 48px;
    background: #88A57A;
    overflow: hidden;
}

h1 {
    position: absolute;
width: 558px;
height: 83px;
left: 296px;
top: 22px;
font-weight: 400;
font-size: 36px;
font-family: 'Luxurious Roman', cursive;
line-height: 43px;
text-align: center;
}

.dtekst {
    position: absolute;
    width: 1260px;
    height: 180px;
    left: 90px;
    top: 221px;
    
    background: #F0FED5;
    overflow: hidden;
}

.tekst {
    position: absolute;
    width: 1188px;
    height: 149px;
    left: calc(50% - 1188px/2);
    margin: 0%;
    top: 16px;
    font-family: 'Luxurious Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.list {
    position: absolute;
    width: 620px;
    height: 504px;
    left: 90px;
    top: 447px;
    background: #F0FED5;
    overflow: hidden;
}

.ltekst {
    position: absolute;
    left: calc(50% - 562px/2 - 1px);
    font-family: 'Luxurious Roman', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    align-items: center;
    margin: 0%;
    }

ul {
    top: 130px;
}

.listpab {
    top: 70px;
}


.att {
    position: absolute;
    width: 743px;
    height: 510px;
    left: -78px;
    top: -45px;

}

.datt {
    position: absolute;
width: 588px;
height: 421px;
left: 762px;
top: 447px;
overflow: hidden;
}

.pariesana {
    position: absolute;
    width: 671px;
    height: 50px;
    left: 746px;
    top: 901px;
}

.dotiesuz {
    position: absolute;
    width: 136px;
    height: 33px;
    left: 16px;
    top: 6px;
    background: #94AF87;
}

.cdotiesuz{  
text-align: center;
margin: 3%;
font-family: 'Luxurious Roman', cursive;
font-size: 20px;
}


.sakums {
    position: absolute;
    width: 102px;
    height: 33px;
    left: 176px;
    top: 6px;
    
    background: #94AF87;
}

.csakums {
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
    margin: 5%;
}

.suni {
    position: absolute;
    width: 102px;
    height: 33px;
    left: 283px;
    top: 6px;
    
    background: #94AF87;
}

.csuni {
    text-align: center;
    margin: 5%;
font-family: 'Luxurious Roman', cursive;
font-size: 18px;
}

.papagaili {
    position: absolute;
    width: 102px;
    height: 33px;
    left: 390px;
    top: 6px;
    
    background: #94AF87;
}

.cpapagaili {
    text-align: center;
    margin: 5% 0%;
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
}

.tigieri {
    position: absolute;
    width: 102px;
    height: 33px;
    left: 497px;
    top: 6px;
    
    background: #94AF87;
}

.ctigeri {
    text-align: center;
    margin: 5%;
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
}

.centresana {
    position: absolute;
    left: calc(50% - 1440px/2);
}
