body{
    background-color: #e4e1be;
}
#C1{
    background-color: #666666;
    border-spacing:0;
}
#bg{
    background-color: #c2e2a3;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
}
.img1{
    width: 132px;
    transform: scaleX(-1);
    }
.img3{
height: 260px;
width: 390px;
background: url(images/giphy.gif);
background-position: center; 
}
.img4{
    height: 260px;
    width: 390px;
    background: url(images/meaow.jpg);
    background-position: center; 
    }
.img5{
height: 260px;
width: 195px;
background: url(images/shiba-inu.png);
background-position: center; 
}
.img6{
height: 260px;
width: 390px;
background: url(images/FOODSTEAL.jpg);
background-position: center; 
}

.txt{
    word-break: break-word;
    font-size: 30px;
    font-family: 'Luxurious Roman', cursive;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.img2{
width: 132px;
}
.imgborder{
    display: table;
    table-layout: fixed;
}

.visrar{
    display: inline;
    font-size: 60px;
    font-family: 'Luxurious Roman', cursive;
}
.center {
    margin: auto;
    /* width: 90%; */
    padding: 10px;
}
.ma{
    margin: auto;
    /* margin-left: 25%; */
}