html {
    height: 100%;
    width: 100%;
  }
  body{
      background-color: #d5e4bb;
  }
  .kvadr{ 
    display: block;
    margin: auto;
    position: center;
    width: 1054px;
    height: 128px;
    left: 96px;
    top: 24px;
    background: #829A6F;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  h1{
    margin-top: 37px;
    text-align: center;
    line-height: 48px;
    font-family: 'Luxurious Roman';
    font-weight: 400;
    font-size: 50px;
  }
.taisns{
    position: absolute;
    width: 783px;
    height: 790px;
    left: 13px;
    top: 190px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}
img{
    position: absolute;
    width: 600px;
    height: 700px;
    left: 882px;
    top: 189px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}
.poga1{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 882px;
    top: 900px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
}
.poga2{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 1000px;
    top: 900px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
}
.poga3{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 1118px;
    top: 900px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
}
.poga4{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 1236px;
    top: 900px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
}
.poga5{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 882px;
    top: 950px;
    background: #829A6F;
    border: 1px solid #FFFFFF;
    position: absolute;
}
p{
    font-family: 'Luxurious Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 11px;
}